.banner-altar h2 {
    font-size: 60px;
    font-weight: bold;
}

.prod .red {
    display: block;
}


.banner-altar h4 {
    font-size: 70px;
    font-weight: bold;
}

.resource {
    background: #E1D49E;
    padding: 30px 0px 50px;
    font-weight: bold;
    position: relative;
}

.resource .red {
    color: #B11D1E;
}
.resource h2 {
    font-size: 40px;
}
.resource h4 {
    font-size: 25px;
}
.resource .container {
    position: relative;
    z-index: 10;
}
.resource:before {
    content: '';
    width: 300px;
    height: 300px;
    background: url(../img/mandala.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 37%;
    left: -150px;
    opacity: .4;
}

@media(min-width: 768px) {
        
    .resource:after {
        content: '';
        width: 285px;
        height: 100%;
        background: url(../img/hristafarida_red.png) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 8%;
        opacity: .4;
        top: 0px;
    }
}

.activate {
    background: #000;
    color: #fff;
    padding: 50px 0px;
    position: relative;
}
.activate .container {
    z-index: 10;
    position: relative;
}
.activate .container img {
    margin-top: 10px;
    margin-bottom: 30px;
}

.activate .gold {
    color: #B89E4A;
}

.activate .center {
    text-align: center;
}
.activate li {
    list-style: 'â­';
    padding-left: 10px;
    line-height: 1.6;
    font-size: 12px;
}

.activate .main-circle {
    opacity: .3;
    top: -37%;
    left: -36%;
    z-index: 0;
}

body > .content {
    overflow: hidden;
}

.activate:after {
    content: '';
    width: 500px;
    height: 500px;
    background: url(../img/mandala.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 17%;
    right: -5%;
    opacity: 1;
    z-index: 0;
}
.resource:before, .activate:after, .format::after {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 55s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 55s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 55s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 55s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.format {
    background: #CCBF92;
    position: relative;
    z-index: 2;
}

.form .left {
    width: calc(100% - 60px);
}

.form .right {
    width: 60px;
}

.form .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0px auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

.format::after {
    content: '';
    width: 550px;
    height: 550px;
    position: absolute;
    background: url(../img/mandala.png) no-repeat;
    background-size: 100%;
    background-position: center;
    right: -100px;
    opacity: .2;
    top: -47%;
}

.form form {
    width: 100%;
}

.form input {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background: transparent;
    width: -webkit-fill-available;
}


.form form .buy {
    width: fit-content;
    background-color: #C10000;
    color: #fff;
    border: none;
    padding: 15px 65px;
    margin: 20px auto;
    margin-bottom: 0px;
    cursor: pointer;
    transition: transform .3s;
}

.format .container {
    padding-top: 50px;
    z-index: 10;
}



.format .red {
    color: #720605;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

@media(min-width: 1500px) {
    .resource:after {
        right: 19%;
    }
     
}


@media(min-width: 2000px) {
    .resource:after {
        right: 21%;
    }

    .social-lent.ver1 {
        right: -23%;
        top: -2%;
    }
    
     
}
@media(max-width: 355px) {
    .banner-altar h4 {
        font-size: 40px;
    }

    .banner-altar h2 {
        font-size: 45px;
    }
}

.banner-altar::before {
    content: '';
    background-image: url(../img/budda.png);
    height: 500px;
    width: 100%;
    position: absolute;
    background-size: cover;
    opacity: .6;
    left: 0px;
    z-index: 1;
}

.main-circle {
    opacity: 0.4;
}

.form .left-in {
    width: fit-content;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.form label {
    width: calc(100% - 15px - 60px);
    font-weight: normal;
}

.activate .container .prod-img {
    display: block;
    margin: 10px auto 30px;
}



